
    <div class="new-recipe__img-form">
      <h4 class="new-recipe__form-heading">Image</h4>
      <div><%= f.label :image, "Image"%></div>
      <%= f.attachment_field :image, placeholder: "ファイルを選択", class:"new-recipe__img-field"%>
    </div>
    <div class="new-recipe__taist-form">
      <h4 class="new-recipe__form-heading">Taists</h4>
      <%= f.fields_for :taist do |s| %>
      <div class="new-recipe__select-form">
        <%= s.label :sour, "酸味", class:"new-recipe__taist-label" %>
        <%= s.select :sour, options_for_select(1..5), {prompt: "選択してください", required: true}, {class: "new-recipe__select-box"}%>
      </div>
      <div class="new-recipe__select-form">
        <%= s.label :bitter, "苦味", class:"new-recipe__taist-label"%>
        <%= s.select :bitter, options_for_select(1..5), {prompt: "選択してください"}, {class: "new-recipe__select-box"}%>
      </div>
      <div class="new-recipe__select-form">
        <%= s.label :sweet, "甘味", class:"new-recipe__taist-label"%>
        <%= s.select :sweet, options_for_select(1..5), {prompt: "選択してください"}, {class: "new-recipe__select-box"}%>
      </div>
      <div class="new-recipe__select-form">
        <%= s.label :flavor, "香り", class:"new-recipe__taist-label"%>
        <%= s.select :flavor, options_for_select(1..5), {prompt: "選択してください"}, {class: "new-recipe__select-box"}%>
      </div>
      <div class="new-recipe__select-form">
        <%= s.label :rich, "コク", class:"new-recipe__taist-label"%>
        <%= s.select :rich, options_for_select(1..5), {prompt: "選択してください"}, {class: "new-recipe__select-box"}%>
      </div>
        <%= s.hidden_field :recipe_id, value: recipe.id, class:"new-recipe__recipe-id" %>
      <% end %>
    </div>
  </div>
  <div class="new-recipe__right-form">
    <h4 class="new-recipe__form-heading">Recipe</h4>
    <div class="new-recipe__form-wrapper">
      <%= f.label :bean, "コーヒー豆", class:"new-recipe__recipe-label" %>
      <%= f.text_field :bean, placeholder: "豆の産地", class:"new-recipe__form-content"%>
    </div>
    <div class="new-recipe__form-wrapper new-recipe__select-tag">
      <%= f.label :roast, "焙煎度", class:"new-recipe__recipe-label" %>
      <%= f.collection_select(:roast, Recipe.roasts_i18n, :first, :last, {selected: recipe.roast, required: true}, {class: "new-recipe__form-content new-recipe__form-roast"}) %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :amount_of_beans, "コーヒー粉量(g)", class:"new-recipe__recipe-label" %>
      <%= f.number_field :amount_of_beans, class:"new-recipe__form-content" %>
    </div>
    <div class="new-recipe__form-wrapper new-recipe__select-tag">
      <%= f.label :grind_size, "挽目", class:"new-recipe__recipe-label" %>
      <%= f.collection_select(:grind_size, Recipe.grind_sizes_i18n, :first, :last, {selected: recipe.grind_size}, {class: "new-recipe__form-content new-recipe__form-grind-size"}) %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :tool, "抽出器具", class:"new-recipe__recipe-label" %>
      <%= f.text_field :tool, class:"new-recipe__form-content" %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :temperature, "お湯の温度(℃)" , class:"new-recipe__recipe-label"%>
      <%= f.number_field :temperature, class:"new-recipe__form-content" %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :pre_infusion_time, "蒸らし時間(秒)", class:"new-recipe__recipe-label" %>
      <%= f.number_field :pre_infusion_time, class:"new-recipe__form-content"  %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :extraction_time_minutes, "抽出時間(分)", class:"new-recipe__recipe-label" %>
      <%= f.number_field :extraction_time_minutes, class:"new-recipe__form-content"  %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :extraction_time_minutes, "抽出時間（秒）", class:"new-recipe__recipe-label" %>
      <%= f.number_field :extraction_time_seconds, class:"new-recipe__form-content"  %>
    </div>
    <div class="new-recipe__form-wrapper">
      <%= f.label :amount_of_extraction, "抽出量(cc)", class:"new-recipe__recipe-label" %>
      <%= f.number_field :amount_of_extraction, class:"new-recipe__form-content"  %>
    </div>
    <div class="new-recipe__">
      <%= f.label :introduction, "コツ・ポイント", class:"new-recipe__recipe-label" %>
    </div>
    <div>
       <%= f.text_area :introduction, class:"new-recipe__form-introduction"%>
    </div>
    <div>
      <%= f.hidden_field :user_id, value: current_user.id, class:"new-recipe__user-id"%>
    </div>
