  <div class="recipe-contents__items">
    <%= link_to recipe_path(recipe) do %>
      <%= attachment_image_tag recipe, :image, fallback: "coffee-cup-red.jpg", class:"recipe-contents__recipe-img" %>
    <% end %>
    <span class="recipe-contents__favorite-btn favorite_btn-<%= recipe.id %>">
      <%= render 'favorites/favorite_btn', recipe: recipe; %>
    </span>
    <div class="recipe-contents__items-wrapper">
      <div>
        <%= link_to user_path(recipe.user) do %>
          <%= attachment_image_tag recipe.user, :image, fallback: "coffee-cup-book2.jpg", class:"recipe-contents__user-img"%>
        <% end %>
      </div>
      <div class="recipe-contents__items-container">
        <p class="recipe-contents__bean-tit">Bean <span class="recipe-contents__bean"><%= recipe.bean %></span></p>
        <div class="recipe-contents__tool"><%= recipe.tool %> <span class="recipe-contents__roast"><%= recipe.roast_i18n %></span></div>
        <div class="recipe-contents__user-name">by <%= recipe.user.name %></div>
      </div>
      <div class="recipe-contents__date"><%= recipe.created_at.strftime('%Y/%m/%d') %></div>
    </div>
  </div>
