<div class="header-heading">
  <h2 class="header-heading__title">Recipe</h2>
</div>

<div class="recipe-show">
  <div class="recipe-show__content">
    <div class="recipe-show__wrapper">
      <div class="recipe-show__wrapper-left">
        <div class="recipe-show__img-wrapper">
          <%= attachment_image_tag @recipe, :image, fallback: "coffee-cup-book2.jpg", class:"recipe-show__img" %>
        </div>
        <% if current_user.present? %>
          <div id="favorite_btn-<%= @recipe.id%>" class="recipe-show__favorite">
            <%= render 'favorites/favorite_btn', recipe: @recipe %>
          </div>
        <% end %>
        <% if current_user.present? && @user.id == current_user.id %>
          <div class="recipe-show__btn-wrapper">
            <div class="recipe-show__destroy">
               <%= link_to 'Delete', recipe_path(@recipe), method: :delete, class:"recipe-show__destroy-btn",  data: {confirm: "削除しますか？"} %>
            </div>
            <div class="recipe-show__edit">
              <%= link_to 'Edit', edit_recipe_path(@recipe), class:"recipe-show__edit-btn"%>
            </div>
          </div>
        <% end %>
      </div>
      <div class="recipe-show__wrapper-right">
        <div>
          <h4 class="recipe-show__recipe-heading">Recipe</h4>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              産地
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.bean %>
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              焙煎度
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.roast_i18n %>
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              粉量
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.amount_of_beans %>g
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              挽目
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.grind_size_i18n %>
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              抽出器具
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.tool %>
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              お湯の温度
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.temperature %>℃
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              蒸らし時間
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.pre_infusion_time %>秒
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              抽出時間
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.extraction_time_minutes %>分 <%= @recipe.extraction_time_seconds %>秒
            </div>
          </div>
          <div class="recipe-show__recipe-items-wrapper">
            <div class="recipe-show__recipe-items-tit">
              抽出量
            </div>
            <div class="recipe-show__recipe-items">
              <%= @recipe.amount_of_extraction %>cc
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'chart', taist: @taist %>

    <div class="recipe-show__recipe-introduction">
      <h4>コツ・ポイント</h4>
      <p class="recipe-show__introduction-area"><%= @recipe.introduction %></p>
    </div>
    <div class="comment">
      <% if user_signed_in? %>
        <h4>このレシピにコメントする</h4>
        <div class="comment__form">
          <%= form_with(model:[@recipe, @recipe_comment], remote: true) do |f| %>
            <%= f.text_area :comment, rows:'3', placeholder: "コメントをここに", required: true, class:"comment__text-area" %>
            <%= f.submit "送信する", class:"comment__submit" %>
          <% end %>
        </div>
      <% end %>
      <h4 class="comment__count">コメント <%= @recipe.recipe_comments.count %>件</h4>
      <div id="comments_index" class="comment__index">
        <%= render 'recipe_comments/comments_index', recipe_comments: @recipe_comments, recipe: @recipe %>
      </div>
    </div>
  </div>
  <div class="profile">
    <%= render 'users/profile', user: @user %>
  </div>
</div>