<% users.each do |user| %>
  <div class="follow__wrapper">
    <div class="follow__img-wrapper">
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :image, fallback: "coffee-cup-book2.jpg", class:"follow__img" %>
      <% end %>
    </div>
    <div class="follow__contents">
      <div class="follow__contents-wrapper">
        <div class="follow__name-wrapper">
          <h5>Name</h5>
          <div><%= user.name %>さん</div>
        </div>
        <div class="follow__details">
          <div>レシピ投稿数：<%= user.recipes.count %></div>
          <div>フォロワー：　<%= user.followers.count %></div>
          <div>フォロー：　<%= user.followings.count %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>