<div class="profile">
    <h3 class="profile__heading">Profile</h3>
    <div>
      <%= attachment_image_tag user, :image, fallback: "coffee-cup-book2.jpg", class:"profile__img" %>
    </div>

    <div class="profile__items-wrapper">
      <h4 class="profile__items-heading">Name</h4>
      <div class="profile__items"><%= user.name%></div>
    </div>
    <div class="profile__items-wrapper">
      <h4 class="profile__items-heading">
        <%= link_to 'Follow', followings_user_path(user)%>
      </h4>
      <div class="profile__items"><%= user.followings.count %></div>
    </div>
    <div class="profile__items-wrapper">
      <h4 class="profile__items-heading">
        <%= link_to 'Follower', followers_user_path(user)%>
      </h4>
      <div id="followers-count" class="profile__items"><%= user.followers.count %></div>
    </div>
    <div class="profile__introduction">
      <h4>Introduction</h4>
      <div class="profile__introduction-box">
        <%= user.introduction %>
      </div>
    </div>

    <% if user_signed_in? %>
      <div class="profile__btn-wrapper">
        <%= render 'relationships/follow_btn', user: user %>
      </div>
    <% end %>
  </div>
</div>