<div class="header-heading">
  <h2 class="header-heading__title">Edit</h2>
</div>

<div class="edit-user">
  <%= form_with model: @user, local: true do |f| %>
    <div class="edit-user__name-field">
      <%= f.label :name, 'Name'%>
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div class="form-group">
      <%= f.label :introduction, "Introduction" %> <br>
      <%= f.text_area :introduction, placeholder:"プロフィールテキスト", class:"form-control"%>
    </div>

    <div class="edit-user__img-field">
      <h4>Image</h4>
      <%= f.label :image, "Profile Image"%>
      <%= f.attachment_field :image, placeholder: "ファイルを選択" %>
    </div>
    <div>
      <%= f.submit '更新', class:"edit-user__btn" %>
    </div>
  <% end %>
</div>