<div class="recipe-contents__header-heading">
  <h2 class="recipe-contents__heading-title">Recipes</h2>
</div>

<div class="recipe-contents">
  <%= render 'users/profile-icon' %>
  <div class="recipe-contents__wrapper">
    <h2 class="recipe-contents__heading"><%= @user.name %>'s Recipes</h2>
    <div class="recipe-contents__main">
      <% @recipes.each do |recipe| %>
        <%= render 'recipes/index', recipe: recipe %>
      <% end %>
      <%= render 'layouts/kaminari', models: @recipes %>
    </div>
  </div>
  <div class="profile">
    <%= render 'users/profile', user: @user %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to '退会する', confirmation_user_path(@user), class:"profile__user-d-btn" %>
    <% end %>
  </div>
</div>

