<div class="reset-password">
  <div class="reset-password__form">
    <h2 class="reset-password__heading">Change your password</h2>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="reset-password__field">
        <%= f.label :password, "新しいパスワード" %>
        <% if @minimum_password_length %>
          <span> (<%= @minimum_password_length %> 字以上)</span><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"reset-password__input" %>
      </div>
      <div class="reset-password__field">
        <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"reset-password__input" %>
      </div>
      <div class="reset-password__btn-wrapper">
        <%= f.submit "Change password", class:"reset-password__submit" %>
      </div>
    <% end %>
  </div>
</div>
