<div class="reset-password">

  <div class="reset-password__form">
    <h2 class="reset-password__heading">Reset Password</h2>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= form_with  model: @user, url: user_password_path, class: 'registration-main', local: true do |f| %>
      <div class="reset-password__field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"reset-password__input" %>
      </div>
      <div class="reset-password__btn-wrapper">
        <%= f.submit "再設定メール送信", class:"reset-password__submit" %>
      </div>
    <% end %>
  </div>
</div>
