<div class="contact">

  <div class="contact__form">
    <h2 class="contact__heading">お問い合わせ</h2>

    <%= form_with model: @contact, url: confirm_contacts_path, method: :get,  local: true do |f| %>
      <div class="contact__field">
        <%= f.label :name, 'お名前' %><br />
        <%= f.text_field :name, autofocus: true, required: true, class:"contact__input" %>
      </div>
      <div class="contact__field">
        <%= f.label :email, 'Eメール' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class:"contact__input" %>
      </div>
      <div class="contact__field">
        <%= f.label :message, 'お問い合わせ内容'%><br />
        <%= f.text_area :message, class:"contact__message"%>
      </div>
      <div class="contact__submit-wrapper">
        <%= f.submit '入力内容確認', class:"contact__confirm-btn" %>
      </div>
    <% end %>
  </div>
</div>
