<% recipe_comments.each do |recipe_comment| %>
  <div class="comment__wrapper">
    <div class="comment__img-wrapper">
      <%= link_to user_path(recipe_comment.user) do %>
        <%= attachment_image_tag recipe_comment.user, :image, fallback: "coffee-cup-book2.jpg", class:"comment__user-img" %>
      <% end %>
    </div>
    <div class="comment__contents">
      <p class="comment__text"><%= recipe_comment.comment %></p>
      <div class="comment__detail">
        <%= recipe_comment.created_at.strftime('%Y/%m/%d') %>
        <span> | </span>
        <% if user_signed_in? %>
          <% if current_user.id == recipe_comment.user_id %>
            <%= link_to '削除', recipe_recipe_comment_path(recipe, recipe_comment), method: :delete, remote: true, class:"comment__btn-destroy" %>
          <% end %>
        <% end %>
        <p><%= recipe_comment.user.name %>さん</p>
      </div>
    </div>
  </div>
<% end %>