<!DOCTYPE html>
<html>
  <head>
    <title>KamiDori</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <div class="header-wrapper">
      <header class="header">
        <div class="header__hm-icon">
          <a class="header__menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <div class="header__overlay-search"></div>
        <div class="header__overlay-profile"></div>
        <h1 class="header__logo-wrapper">
          <%= link_to image_tag("coffee-ilust.png", size: "63x50"), root_path, class:"header__logo" %>
        </h1>
        <nav class="nav">
          <ul class="nav__main-nav">
            <% if user_signed_in? %>
              <li class="nav__nav-item">
                <%= link_to "Let's Pour", new_recipe_path, class:"nav__nav-link" %>
              </li>
              <li class="nav__nav-item">
                <%= link_to "My page", user_path(current_user), class:"nav__nav-link" %>
              </li>
              <li class="nav__nav-item">
                <%= link_to "Recipes", root_path, class:"nav__nav-link" %>
              </li>
              <li class="nav__nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav__nav-link" %>
              </li>
            <% else %>
              <li class="nav__nav-item">
                <%= link_to "Top", root_path, class:"nav__nav-link" %>
              </li>
              <li class="nav__nav-item">
                <%= link_to "About", about_path, class:"nav__nav-link" %>
              </li>
              <li class="nav__nav-item">
                <%= link_to "Sign up", new_user_registration_path, class:"nav__nav-link" %>
              </li>
              <li class="nav__nav-item">
                <%= link_to "Log in", new_user_session_path, class:"nav__nav-link" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>
    </div>

    <main class="main">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>

    <footer>
      <div class="footer">
        <div class="footer__phone-flex">
          <div class="footer__phone-wrapper">
            <div class="footer__phone-border">
              <div>
                <div class="footer__phone-round-wrapper">
                  <div class="footer__small-round"></div>
                  <div class="footer__line-round-wrapper">
                    <div class="footer__line"></div>
                  </div>

                </div>
                <div class="footer__phone-screen">
                  <div class="footer__icon-wrapper">
                    <div class="footer__signal"><i class="fas fa-signal"></i></div>
                    <div class="footer__wifi"><i class="fas fa-wifi"></i></div>
                    <div class="footer__battery"><i class="fas fa-battery-three-quarters"></i></div>
                  </div>
                  <div class="footer__site-img">

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="footer__phone-comment">
            <h4 class="footer__comment-heading">For smartphone</h4>
            <p class="footer__text">スマートフォンでも使いやすくなっています</p>
            <p class="footer__text">ぜひご利用ください</p>
            <div class="footer__title">KamiDori</div>
            <div class="footer__link-wrapper">
              <div>
                <%= link_to 'Top',  root_path, class:"footer__link" %>
              </div>
              <div>
                <%= link_to 'About', about_path, class:"footer__link" %>
              </div>
              <div>
                <%= link_to 'Contact', new_contacts_path, class:"footer__link" %>
              </div>
            </div>
          </div>
        </div>




        <p class="footer__copy"><small>Copyrights &copy; 2021 PourPour All Rights Reserved. </small></p>
      </div>
    </footer>
    </div>

</html>
